{% load static %}
<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{% static 'doeagora/css/style.css' %}">
   <script src="script.js"></script>  
  <head>
  <body>
    <h1 class="sos">SOS-DoeAgora</h1>

    <h3> 
      <hr>
      <p>
        <a href="{% url "doeagora:listagem" %}" class="link1"> Listagem </a><br>
      <p>
      <hr> 
        <a href="{% url "doeagora:doacao" %}" class="link1"> Doações </a><br>
      </p>
    </h3>
<a href="{% url "doeagora:index" %}" class="link1"> Volte aqui para página inicial </a><br>
      
    
  </body>
</html>
