{% load static %}
<!DOCTYPE html>
<html>
   <link rel="stylesheet" href="{% static 'doeagora/css/style.css' %}">
   <script src="script.js"></script>  
  <head>
  <body>
    <h1 class="sos">SOS-Doe Agora</h1>
    
   <h3 class="fim">
     
     Cadastro realizado com sucesso :) <br>
     <p>Clique no link a baixo e volte <br> para a página inicial: </p>
     
     <p class="left"><a href="{% url "doeagora:index" %}" class="link1"> Volte a página inicial </a></p>
   </h3>
  
  </body>
</html>