<!DOCTYPE html>
<html>
  <link href="style.css" rel="stylesheet" type="text/css"/>
   <script src="script.js"></script>  
  <head>
  <body>
    <h1 class="sos">SOS-DoeAgora</h1>
    <hr>
    SOS-DoeAgora é um website que tem o intuito de realizar arrecadações de roupas e produtos 
    de higiene pessoal e distribuir essas arrecadações para pessoas necessitadas e que não possuem 
    condições financeiras suficientes para arcar com as despesas destes produtos em seu cotidiano. 
    <p> Esse projeto foi criado, pois é notório o grande índice de pobreza vivenciado na sociedade
    brasileira, além da desigualdade social que vem crescendo gradativamente na mesma. Nós acreditamos 
    que esse projeto é o primeiro passo para mudar esse quadro tão presente na vida de tantas pessoas, 
    e assim, tornar a nossa sociedade mais igualitária, trabalhar atos de empatia e generosidade, e o 
    mais importante, levar bem-estar e cuidados para a vida do próximo.</p>
    <hr>

    </h1>

    <h3> 
      <a href="{% url "doeagora:sobrecadastros" %}" > Cadastre-se aqui </a><br>
      <a href="{% url "doeagora:sosdoeinfo" %}" > Vem conhecer mais :) </a><br>
    
    </h3>
    
  </body>
</html>