<!DOCTYPE html>
<html>
  <link href="style.css" rel="stylesheet" type="text/css"/>
   <script src="script.js"></script>  
  <head>
  <body>
    <h1 class="sos">SOS-Doe Agora</h1>
    
    <h1 class="centro">
      
    Este Website terá como objetivo  incentivar a doação de produtos de higiene pessoal. Com isso proporcionar a distribuição para as famílias que serão contempladas. <br>  A base desse projeto  social é voltada à ajudar pessoas que possuem necessidades, porém não tem como supri-las de forma autônoma. 
    Algo que podemos ressaltar é que a nossa sociedade brasileira é umas das mais desiguais do mundo. E para diminuir todo esse cenário bastante presente em todo nosso meio social, fizemos a criação deste website.

    </h1>

    <h3> 
      Cadastros no link a baixo: <br>
      <a href="antesdocadas.html" >Sobre cadastros</a><br>
    </h3>
    
  </body>
</html>