{% load static %}
<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{% static 'doeagora/css/style.css' %}">
   <script src="script.js"></script>  
  <head>
  <body>
    <h1 class="sos">SOS-DoeAgora</h1>


    <hr>
    Caso você deseje colocar outros produtos, clique aqui para retornar a página de cadastros:
    <p><a href="{% url "doeagora:sobrecadastros" %}" class="link1"> Volte a página de cadastros </a></p>
    <hr>

      <a href="{% url "doeagora:index" %}" class="link1"> Volte para a página inicial</a><br>
    
  </body>
</html>