{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'doeagora/css/style.css' %}">
   <script src="script.js"></script>  
  <head>
  <body>
    <h1> Página de Listagens </h1>
    
    <h2 class="cd">
    <hr>
      <p>Instituições: </p>
      <p><a href="{% url "doeagora:verlistageminstituicao" %}" class="link2"> Ver instituições participantes </a><br></p> 
    <hr>


      <p>Doadores: </p>
      <p><a href="{% url "doeagora:verlistagemdoador" %}" class="link2"> Ver doadores participantes </a><br></p>
    <hr>

      <p>Beneficiários: </p>
      <p><a href="{% url "doeagora:verlistagembeneficiario" %}" class="link2"> Ver beneficiários participantes </a><br></p>
    <hr>

    <p> Doações: </p>
    <p><a href="{% url "doeagora:verlistagemdoacao" %}" class="link2"> Ver doações arrecadadas </a><br></p>
    <hr>

    <p> Doações para beneficiários </p>
    <p><a href="{% url "doeagora:verlistagemdoacaobeneficiario" %}" class="link2"> Ver doações para beneficiários </a><br></p>
    <hr>

    </h2>
<p class="left"><a href="{% url "doeagora:index" %}" class="link3"> Volte a página inicial </a></p>
  </body>
</html>
