{% load static %}
<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{% static 'doeagora/css/style.css' %}"> 
   <script src="script.js"></script>
  <head>
  <body>
    <h1 class="sos">SOS-Doe Agora</h1>

   <h3 class="cd">
  
      <p> Bem Vindo(a) à página de Cadastros!!! </p>
    <p> Aqui vamos direcionar vocês aos seus determinados cadastros :)</p>
    <p> Vamos lá?? </p>
  <hr>

    <p>Se Você é um benefeciário, ou seja, é aquele que irá receber as doações, clique aqui: </p>
    <p><a href="{% url "doeagora:c.beneficiario" %}" class="link2"> Cadastro de Beneficiários </a><br></p> 
    <hr>


    <p>Se Você é um doador, ou seja, é aquele que irá ajudar outras pessoas doando produtos, clique aqui: </p>
    <p><a href="{% url "doeagora:c.doadores" %}" class="link2"> Cadastro de Doadores </a><br></p>
  <hr>

    <p>Se Você é uma instituição, ou seja, será responsável por receber as doações e encaminha-las aos beneficiários, clique aqui: </p>
    <p><a href="{% url "doeagora:c.instituicao" %}" class="link2"> Cadastro de Instituições </a><br></p>
  <hr>
    
    <p>Deseja fazer uma doação? Clique aqui: </p>
    <p><a href="{% url "doeagora:doacao" %}" class="link2"> Cadastro de Doações </a><br></p>
  <hr>

   </h3>
<p class="left"><a href="{% url "doeagora:index" %}" class="link3"> Volte a página inicial </a></p>
  </body>
  
</html>
