{% load static %}
<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{% static 'doeagora/css/style.css' %}"> 
   <script src="script.js"></script>
  <head>
  <body>
    <h1 class="sos">SOS-Doe Agora</h1>

   <h3 class="cd">
  
      <p> Bem Vindo(a) à página de Cadastros!!! </p>
    <p> Aqui vamos direcionar vocês aos seus determinados cadastros :)</p>
    <p> Vamos lá?? </p>
  <hr>
    
    <a href="Cadastro.html">Cadastro de beneficiários</a><br>
    <a href="c.doadores.html">Cadastro de doadores</a><br>
    <a href="c.instituição.html">Cadastro de instituições</a><br></p>
   </h3>

  </body>
  <p class="left"><a href="{% url "doeagora:index" %}"> Volte a página inicial </a></p>
</html>