{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'doeagora/css/style.css' %}">
<script src="script.js"></script>

<head>

<body>
  <h1 class="sos"> Conheça um pouco mais sobre o SOS-DoeAgora :) </h1>

  <hr>
  <p class="cd"> "SOS-DoeAgora" foi criado com o objetivo de alcançar algumas pessoas que
    fazem parte da linha de pobreza social do nosso país. É extremamente observável a
    tamanha desigualdade presente na sociedade brasileira, e esse quadro vem aumentando gradativamente
    a cada novo ano. Este site visa ajudar uma considerável parcela dessas pessoas e levar até
    elas menores preocupações em seu cotidiano, tendo em vista que muitas famílias deixam de comprar
    uma roupa nova ou um desodorante, por exemplo, com o intuito de priorizar gastos com comida em seu
    cotidiano e sobreviver. Esse quadro é muito preocupante, e depende de nós tomarmos uma iniciativa
    e tentar tornar a vida dessas pessoas mais leve, mesmo com uma pequena ajuda, essas pessoas se
    sentirão felizes em ver que podem contar conosco para auxilia-las.
  </p>

  <h3 class="cd"> Por Que Doação de Roupas e Produtos de Higiene Pessoal? </h3>


  <p class="cd"> Todos nós gostamos de andar bem vestidos não é mesmo? Adoramos comprar uma roupa nova
    ou mudar nosso guarda-roupa de vez em quando, mas, a pergunta é: "E quem não possui a condição de 
    comprar algo novo?". Estamos habitualmente acostumados a lidar com essas mudanças simples em nosso dia
    a dia, mas não são todos que lidam com as mesmas mudanças que nós, não por escolha, mas por obrigação. 
    Já os produtos de higiene pessoal, também são essenciais para a nossa vida, eles nos proporcionam
    saúde, higiene e bem estar, mas, a pergunta é: "E quem não possui a condição de usufruir do mesmo
    bem estar que estamos acostumados habitualmente?". Podemos citar, por exemplo, as pessoas que moram
    nas ruas, como essas pessoas lidam com a sua higiene pessoal diária? 
  <br> O SOS-DoeAgora não tem apenas o objetivo de solucionar as questões citadas acima, pois não são 
  apenas roupas que estão sendo doadas ou produtos de higiene pessoal, mas estamos ajudando outras 
  pessoas a possuir e conquitar a sua dignidade, dignidade esta que é dever de todo cidadão ou ser humano
  possuir. Outro exemplo que podemos citar é um banho, sim! um banho. Ele não é apenas uma rotina diária, 
  não é apenas uma forma de proporcinar a saúde individual de cada um, mas sim um ato de renovação 
  que não limpa apenas nosso meio físico, mas também o nosso meio espiritual. </p>

  <hr>


  <p class="left"><a href="{% url "doeagora:index" %}" class="link3"> Volte a página inicial </a></p>

</body>

</html>