{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'doeagora/css/style.css' %}">
   <script src="script.js"></script>  
  <head>
  <body>
    <h1 class="sosdoeinfo"> Conheça um pouco mais sobre o SOS-DoeAgora :) </h1>
    
    <h2>
    <hr>
       O SOS-DoeAgora é um projeto voltado à arrecadação de produtos de higiene pessoal, como:Roupas, escovas de dente, entre outros produtos.
       Foi desenvolvido por duas estudantes do curso técnico em informática do IFPB(Instituto Federal da Paraíba), visando a elaboração de um projeto
       integrador e de um trabalho de TCC.
    <hr>
      <p></p>
       
    
    <hr>
    </h2>
<p class="left"><a href="{% url "doeagora:index" %}" class="link3"> Volte a página inicial </a></p>
  </body>
</html>
