{% load static %}
<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{% static 'doeagora/css/style.css' %}"> 
   <script src="script.js"></script>
  <head>
  <body>
    <h1 class="listagens">SOS-Doe Agora</h1>

    <h3 class="cd">

    {{ instituicao.nome }} ---> {{ instituicao.email }}

    </h3>

    <p><a href="{% url 'doeagora:editar_instituicao' instituicao.pk %}" class="link1" > Editar </a></p>
    <p><a href="{% url 'doeagora:excluir_instituicao' instituicao.pk %}" class="link1"> Excluir </a></p>
    
