body{
    background: rgb(164, 164, 255);
    line-height: 1.0;
    width: 160%;
    margin: auto;
    font-family: OCR A Std, monospace; 
  }
  
  .cadastros{
    text-align: center;
    font: outline;
  
  }
  
  h1 {
    color: white;
    width: 100%;
    text-align: center;
    text-indent: 10px;
    margin: 20px;
    font-family: fangsong;
    background: #000000bf;
    font-size: 180%;
  
  }
  
  .sosdoeinfo {
    color: white;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .sos {
    color: white;
    width: 100%;
    text-align: center; 
    font-family: 'Times New Roman', Times, serif;
  }
  
  .social {
    
  }
  
  .doadores {
    background-size: 1400px 1200px;
    font-weight: 900;
    color: black;
    text-align: left;
    font-family: OCR A Std, monospace;
    
  }
  .instituicao {

    background-size: 1400px 1200px;
    font-weight: 900;
    color: black;
    text-align: left;
    font-family: OCR A Std, monospace;
    
  }
  
  .beneficiario{

    background-size: 1400px 1200px;
    font-weight: 900;
    color: black;
    text-align: left;
    font-family: OCR A Std, monospace;
    
  }
  
  .link1 {
    color: white;
    font-size: 90%;
    background: #000000af
  }
  
  .link2 {
  color: white;
  font-size: 100%;
  background: #24ff9a6b;
  font-family: OCR A Std, monospace; 
  }
  
  .link3 {
  
  color: white;
  font-size: 100%;
  font-family: cursive; 
  background: #000000fa;
  
  }
  
  .cd{
    color: white;
    width: 100%;
    background: #000000f5;
    text-align: center;
    font-size: 130%;
  
  }
  .left{
    text-align: left;
  }
  
  .fim{
    background-color: white ;
    text-align: center;
    margin: auto;
    position:absolute;
    top: 300px;
    right:530px ;
  }
  
  .botao  {
  top:20px;
  left:50px;
  margin:5px;
  }
  
  .botao a, .botao a:visited {  
  font: bold 12px/24px arial, helvetica, sans-aerif;	
  padding:0px;
  text-decoration: none;
  text-align:center;	
  color:#fff;
  background:blue url('botao_link.gif') no-repeat center center;	
  width:120px;  
  height:24px;	
  display:block;	
  }
  
  .botao a:hover { 
  background: rgb(156, 144, 87) url('botao_hover.gif') no-repeat 
  center center;
  color:rgb(238, 185, 12);
  }
  